<div class='container'>
    <section class='section is-large mt-0 animated'>
        <h1 class='title'><span class='has-text-info'>const</span>
            🔽 =
            <span class='has-text-danger'>new</span>
            blogPosts;</h1>
        <div class='tile is-ancestor'>
            <div class='tile is-vertical is-8'>
                <div class='tile'>
                    <div class='tile is-parent is-vertical'>
                        <article
                            class='tile is-child notification is-primary post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                            <small>Posted By: Isayah Durst</small><br />
                            <small>1/16/23</small>
                        </article>
                        <article
                            class='tile is-child notification is-warning post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                        </article>
                    </div>
                    <div class='tile is-parent'>
                        <article
                            class='tile is-child notification is-info post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                        </article>
                    </div>
                </div>
                <div class='tile is-parent'>
                    <article class='tile is-child notification is-danger post'>
                        <p class='title'>Blog Title</p>
                        <p class='subtitle preview-text'>Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Maxime nisi
                            repellat magni quam illo pariatur nostrum placeat
                            quis, blanditiis qui non ab, vero quaerat eaque
                            fugit aliquam numquam ad modi.</p>
                    </article>
                </div>
            </div>
            <div class='tile is-parent'>
                <article class='tile is-child notification is-success post'>
                    <p class='title'>Blog Title</p>
                    <p class='subtitle preview-text'>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Distinctio aliquam id
                        animi repellendus corporis fuga enim, illum similique,
                        sit aliquid vel facere aut libero praesentium voluptas
                        modi. Nulla, officiis magni.</p>
                </article>
            </div>
        </div>
    </section>
</div>